/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {}

/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media only screen and (max-width: 1200px){
    .line-wrapper {
        border: none;
    }
}


  @media (min-width: 768px) and (max-width: 1023px) {
    h2 {
        margin-top: 20px;
        background: #fafafa;
        padding: 20px 0px;
        color: #666666;
        margin-bottom: 30px;
    }
    button.navbar-toggler {
        right: 40px;
        position: fixed;
    }
    .item-category {
        margin-bottom: 35px;
    }
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 65px;
        z-index: 999;
        background: #f8f9fa;
        margin: 0 auto;
        right: 19px;
        padding: 15px 20px;
        -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    }
}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 65px;
        z-index: 999;
        background: #f8f9fa;
        margin: 0 auto;
        right: 19px;
        padding: 15px 20px;
        -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    }
}

/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    a.logo {
        display: block;
        text-align: center;
    }
    a.logo img {
        margin: 0 auto;
        display: block;
    }
    button.navbar-toggler {
        position: absolute;
        right: 24px;
        top: 30px;
    }
    form#search-form {
        margin-left: 0px;
    }
    section.categories {
        padding: 20px 0px;
        background: #efefef;
    }
    h4.product-title {
        margin-bottom: 18px;
        font-size: 1.8em;
        margin-top: 30px;
    }
    a.btn-mask {
        color: #333333;
        display: table;
        width: 100%;
        -webkit-transition: background-color 300ms linear, color .2s linear;
        -moz-transition: background-color 300ms linear, color .2s linear;
        -o-transition: background-color 300ms linear, color .2s linear;
        -ms-transition: background-color 300ms linear, color .2s linear;
        transition: background-color 300ms linear, color .2s linear;
        margin-bottom: 20px;
    }
    img.img-fluid.img-animate {
        position: absolute;
        max-width: 115px;
        left: 0;
        top: 0px;
        transition: all .5s ease 0s;
    }
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 65px;
        z-index: 999;
        background: #f8f9fa;
        margin: 0 auto;
        right: 19px;
        padding: 15px 20px;
        -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    }
}

/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    h2 {
        margin-top: 0px;
        background: #fafafa;
        padding: 20px 0px;
        color: #666666;
        margin-bottom: 30px;
        font-size: 1.3em;
    }
    .bg-light {
        background-color: #f8f9fa!important;
        padding: 15px 0px;
        margin-bottom: 20px;
    }
    a.logo {
        display: block;
        text-align: center;
        margin-left: 30px;
    }
    a.logo img {
        margin: 0 auto;
        display: block;
    }
    button.navbar-toggler {
        position: absolute;
        right: 24px;
        top: -70px;
        border: 2px solid #fff !important;
    }

    form#search-form {
        margin-left: 0px;
    }
    section.categories {
        padding: 20px 0px;
        background: #efefef;
    }
    h4.product-title {
        margin-bottom: 18px;
        font-size: 1.8em;
        margin-top: 30px;
    }
    a.btn-mask {
        color: #333333;
        display: table;
        width: 100%;
        -webkit-transition: background-color 300ms linear, color .2s linear;
        -moz-transition: background-color 300ms linear, color .2s linear;
        -o-transition: background-color 300ms linear, color .2s linear;
        -ms-transition: background-color 300ms linear, color .2s linear;
        transition: background-color 300ms linear, color .2s linear;
        margin-bottom: 20px;
    }
    img.img-fluid.img-animate {
        position: absolute;
        max-width: 115px;
        left: 0;
        top: 0px;
        transition: all .5s ease 0s;
    }
    ul.languages {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        text-align: center;
    }
    ul.contacts-info {
        margin: 10px 0px;
        padding: 0;
        list-style: none;
        display: block;
        text-align: center;
    }
    ul.contacts-info li {
        display: block;
        margin-bottom: 10px;
    }
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 65px;
        z-index: 999;
        background: #f8f9fa;
        margin: 0 auto;
        right: 19px;
        padding: 15px 20px;
        -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    }
}
